.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.75rem solid #e8e8e8;
  margin-top: 0.5rem;
  border-bottom-width: 3.5rem;
  background: white;
}

.preview-min-size {
  min-width: 720px;
  min-height: 1280px;
  /* min-width: 14rem;
  min-height: 17.5rem; */
}

.inner-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}

input {
  display: none;
}

.loading-spinner {
  margin-bottom: 9rem;
}

button {
  color: black;
  font-family: "A day without sun text";
  font-size: 2rem;
}

.upload-button {
  padding: 0.5rem 1rem;
  margin-top: 0.75rem;
  background: none;
  font-size: 4.375rem;
  border: 3px solid #8a8a59;
  font-weight: 800;
  background-color: white;
}

.capture-button {
  color: black;
  font-family: "A day without sun text";
  font-size: 4rem;
  background-color: white;
  border: 2px solid #a8a8a8;
  margin: 0.5rem;
}

.camera-change-button {
  color: black;
  font-family: "A day without sun text";
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid #a8a8a8;
  margin: 0.5rem;
}

.preview-max-size-img {
  max-width: 720px;
  max-height: 1280px;
}
